body {
  font-family: 'Montserrat', Arial;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: white;
  background-color: black;
}

#title {
  margin: auto;
  padding-top: 30px;
  color: rgba(60, 246, 252)
}

.description {
  margin-top: 0;
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(60, 246, 252, 0.925);
}

.text-center {
  text-align: center;
}